// Colors

$color-title: #FE6D73;
$color-subtitle:#ADB2B6;
$color-text:#FEF9EF;
$color-hightlight:#17C3B2;
$color-background-footer:#161A1E;
$color-empty:#ffffff00;

// Fonts
$font-title :'Playfair Display', serif; ;
$font-text: 'Poppins', sans-serif;